*.ini
*.v2
*.hdf5
*.pyd
*.exe
__pycache__
.vscode
ffmpeg-20190824-1cfba7f-win64-static
Music
MachineLearning/*/Checkpoints
MachineLearning/*/Models
MachineLearning/*/Logs
OBScripts/*.*
GUI/test*.*
Webscraping/pixivutil