*.ini
*.v2
*.hdf5
*.pyd
*.exe
*.svg
*.env
*.log
*.json
*.txt
__pycache__
.vscode
ffmpeg-20230330-4d216654ca-win64-static
GUI/test*.*
GUIold*
DeepLearning/Datasets
DeepLearning/*/Checkpoints
DeepLearning/*/Models
DeepLearning/*/Logs
Music
WebDev/Lib
WebDev/Scripts
WebDev/pyvenv.cfg
Webscraping/pixivutil2