*.ini
*.v2
*.hdf5
*.pyd
*.exe
*.svg
*.env
*.log
*.json
*.txt
__pycache__
.vscode
ffmpeg-20230330-4d216654ca-win64-static
GUI/test*.*
GUIold*
MachineLearning/Datasets
MachineLearning/*/Checkpoints
MachineLearning/*/Models
MachineLearning/*/Logs
Music
WebDev/Lib
WebDev/Scripts
WebDev/pyvenv.cfg
Webscraping/pixivutil2