<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1e355b">
    <link rel="canonical" href="https://rayos.art/">
    <title>{% block title %}{% endblock %} – RAYOSART</title>

    <!-- /snippets/social-sharing.liquid -->
    <meta property="og:site_name" content="RAYOSART">
    <meta property="og:url" content="https://rayos.art/">
    <meta property="og:title" content="RAYOS Official">
    <meta property="og:type" content="website">
    <meta property="og:description" content="lorem ipsum">
    <meta property="og:image" content="lorem ipsum">
    <meta property="og:image:secure_url" content="lorem ipsum">
    <meta property="og:image:height" content="718">
    <meta property="og:image:width" content="1200">

    <!-- /snippets/twitter-section -->
    <meta property="twitter:image" content="lorem ipsum">
    <meta name="twitter:site" content="@rayos97_">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="RAYOS Official">
    <meta name="twitter:description" content="lorem ipsum">

    <!--[if (gt IE 9)|!(IE)]><!-->
    {% load static %}
    <!-- /snippets/scripts-section -->
    <script src="{% static 'scripts/main.js' %}" defer></script>

    <!-- /snippets/styles-section -->
    <link href="{% static 'styles/styles.css' %}" rel="stylesheet">
  </head>
  <body>
    <header>
      <div>header</div>
      <nav>
        <a href="/rayos.art">HOME</a> |
        <a href="gallery">GALLERY</a> |
        <a href="shop">SHOP</a> |
        <a href="about">ABOUT</a> |
        <a href="contact">CONTACT</a>
      </nav>
    </header>
    {% block content %}{% endblock %}
    <footer>footer</footer>
  </body>
</html>
