{% extends "base_generic.html" %}

{% block title %}PRODUCT{% endblock %}

{% block content %}
<main>
  <div class="page-product">
    <div class="product-image">
      Image
    </div>
    <div class="product-details">
      Details
    </div>
  </div>
  <div class="related-products">
    <h2>
      See Our Other <a>
        <b>
        ____
        </b>
      </a> Products
    </h2>
    <ul class="product-columns">
        <li class="product-page"></li>
        <li class="product-page"></li>
        <li class="product-page"></li>
        <li class="product-page"></li>
    </ul>
  </div>
</main>
{% endblock %}