.header {
    text-align: center;
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.slidecontainer {
    height: 75px;
}
.item {
    margin: auto;
}
#compass {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows:  1fr 5fr 1fr;
}
.compass {
    margin: auto;
}
.compass.item-1 {
    grid-area: 1 / 2;
}
.compass.item-2 {
    grid-area: 2 / 1;
}
.compass.item-3 {
    grid-area: 2 / 3;
}
.compass.item-4 {
    grid-area: 3 / 2;
}
.compass.item-5 {
    grid-area: 2 / 2;
    max-width:100%;
    max-height:100%;
}